<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <div class="all">
        <input type="text" placeholder="请输入id名">
        <input type="text" placeholder="请输入姓名">
        <br>
        <input type="text" placeholder="请输入年龄">
        <input type="text" placeholder="请输入技能">
        <h3 class="subdata">把数据提交给数据库</h3>
        <h3>咱先意思意思写一点，哈哈哈</h3>
        <button class="submit">提交</button>
    </div>

</body>
<script>

</script>

</html>